
module my-ldapsearch 1.0;

require {
    type ldap_port_t;
    type sshd_t;
    class tcp_socket name_connect;
}

#============= sshd_t ==============

#!!!! This avc can be allowed using one of the these booleans:
#     nis_enabled, authlogin_nsswitch_use_ldap
allow sshd_t ldap_port_t:tcp_socket name_connect;
